@import url('https://fonts.googleapis.com/css2? family = Prompt: wght @ 300 & display = swap');

body {
    background-color: #2B2840;
    font-family: 'Prompt', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color:#2B2840;
}

.encabezado{
    display:inline-block;
    flex-direction: column;
    
}
.encabezado #renglon1 {
    position: fixed;
    display:block ;
    font-size: 64px;
    margin-top: 10px;


    color: #37A6A6;
    animation-name: desplazar1;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}
.encabezado #renglon2 {
    position: fixed;
    display:block ;
    justify-content: space-evenly;
    height: 32px;
    font-size: 32px;
    margin-top: 150px;

    color: #37A6A6;
    animation-name: desplazar2;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}
.encabezado #renglon3 {
    position: fixed;
    display:block ;
    justify-content: space-evenly;
    height: 32px;
    font-size: 32px;
    margin-top: 200px;


    color: #37A6A6;
    animation-name: desplazar3;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}
.encabezado #renglon4 {
    position: fixed;
    display:block ;
    justify-content: space-evenly;
    height: 32px;
    font-size: 32px;
    margin-top: 250px;


    color: #37A6A6;
    animation-name: desplazar4;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}
.encabezado #renglon5 {
    position: fixed;
    display:block ;
    justify-content: space-evenly;
    height: 32px;
    font-size: 32px;
    margin-top: 300px;


    color: #37A6A6;
    animation-name: desplazar5;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

@keyframes desplazar1 {
    0%{
        position: absolute;
        left: 800px;
        visibility: hidden;
        color: #0F4C59;

    }
    20% {
        position: absolute;
        left: 700px;
        visibility: visible;
        color: #0F4C59;
        }
    40% {
        position: absolute;
        left: 700px;
        visibility: visible;
        color: #37A6A6;
    }
    60% {
        position: absolute;
        left: 700px;
        visibility: visible;
        color: #37A6A6;
    }
    80% {
        position: absolute;
        left: 700px;
        visibility: visible;
        color: #66D9C4;
    }
    100% {
        position: absolute;
        left: 700px;
        visibility: visible;
        color:  #4AD9B0;
    }
}
@keyframes desplazar2 {
    0%{
        position: absolute;
        left: 700px;
        visibility: hidden;
        color: #0F4C59;

    }
    20% {
        position: absolute;
        left: 700px;
        visibility: hidden;
        color: #0F4C59;
        }
    40% {
        position: absolute;
        left: 700px;
        visibility: visible;
        color: #37A6A6;
    }
    60% {
        position: absolute;
        left: 700px;
        visibility: visible;
        color: #37A6A6;
    }
    80% {
        position: absolute;
        left: 700px;
        visibility: visible;
        color: #66D9C4;
    }
    100% {
        position: absolute;
        left: 700px;
        visibility: visible;
        color:  #4AD9B0;
    }
}
@keyframes desplazar3 {
    0%{
        position: absolute;
        left: 700px;
        visibility: hidden;
        color: #0F4C59;

    }
    20% {
        position: absolute;
        left: 700px;
        visibility: hidden;
        color: #0F4C59;
        }
    40% {
        position: absolute;
        left: 700px;
        visibility: hidden;
        color: #37A6A6;
    }
    60% {
        position: absolute;
        left: 700px;
        visibility: visible;
        color: #37A6A6;
    }
    80% {
        position: absolute;
        left: 700px;
        visibility: visible;
        color: #66D9C4;
    }
    100% {
        position: absolute;
        left: 700px;
        visibility: visible;
        color:  #4AD9B0;
    }
}
@keyframes desplazar4 {
    0%{
        position: absolute;
        left: 700px;
        visibility: hidden;
        color: #0F4C59;

    }
    20% {
        position: absolute;
        left: 700px;
        visibility:hidden;
        color: #0F4C59;
        }
    40% {
        position: absolute;
        left: 700px;
        visibility: hidden;
        color: #37A6A6;
    }
    60% {
        position: absolute;
        left: 700px;
        visibility: hidden;
        color: #37A6A6;
    }
    80% {
        position: absolute;
        left: 700px;
        visibility: visible;
        color: #66D9C4;
    }
    100% {
        position: absolute;
        left: 700px;
        visibility: visible;
        color:  #4AD9B0;
    }
}
@keyframes desplazar5 {
    0%{
        position: absolute;
        left: 700px;
        visibility: hidden;
        color: #0F4C59;

    }
    20% {
        position: absolute;
        left: 700px;
        visibility: hidden;
        color: #0F4C59;
        }
    40% {
        position: absolute;
        left: 700px;
        visibility: hidden;
        color: #37A6A6;
    }
    60% {
        position: absolute;
        left: 700px;
        visibility: hidden;
        color: #37A6A6;
    }
    80% {
        position: absolute;
        left: 700px;
        visibility: hidden;
        color: #66D9C4;
    }
    100% {
        position: absolute;
        left: 700px;
        visibility: visible;
        color:  #4AD9B0;
    }
}

.portfolio{
    position: fixed;
    left: 0;
    top: 100px;
    z-index: 2000;
    
}
.portfolio ul{
    list-style: none;
    

}

.portfolio ul li a {
    display: inline-block;
    color: #66D9C4;
    background: #2B2840 ;
    padding: 10px;
    text-decoration: none;
    width: 100px;
    height: 100px;

}
.portfolio ul li a:hover {
    padding: 20px 50px;
    transition: 1s;
}




.redes {
    height: 50px;
}

.redes {
    height: 30px;
    text-align: center;
    padding-top: 500px;
    padding-bottom: 10px;

}
.redes li{
    display: inline;
    padding: 30px;

}
.redes a:hover{
    padding: 30px 20px 0px 0px;
    color: white;
    transition: 1s;
}


