*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --color-1: #F20544;
    --color-2:#A6033F;
    --color-3:#59072D;
    --color-4:#201F26;
    --color-5:#8FA69D;
    
}

body {
    display: flex;

    background-color: var(--color-4);
    font-family: 'Dancing Script', cursive;
}

h1{
    text-align: center;
    color: #F20544;
    font-size: 40px;
    margin-top: 10px;
    
}
.biografia {
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    justify-content: center;

}

.biografia img{
    float: left;
    width: 300px;
    padding: 10px;

}

.biografia p{
    text-align: justify;
    color: var(--color-5);
    font-size: 30px;
    margin: 10px;

}

footer{
    margin-bottom: 5px;
}

footer p{
    font-size: 8px;
    color: var(--color-1);
    text-align: center;

}
@media only screen and (max-width: 280px){
    h1{
        text-align: left;
        color: #F20544;
        font-size: 20px;
        margin-top: 5px;
        
    }
    .biografia {
        width: 90%;
        margin-top: 5px;
        padding: 5px;
        justify-content: center;
    
    }
    
    .biografia img{
        float: left;
        width: 100px;
        padding: 10px;
    
    }
    
    .biografia p{
        text-align: justify;
        color: var(--color-5);
        font-size: 14px;
        margin: 5px;    
    }
    footer p{
        text-align: left;       
        font-size: 5px;
        margin-left: 5px;
    }

}
