*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --color-1: #F20544;
    --color-2:#A6033F;
    --color-3:#59072D;
    --color-4:#201F26;
    --color-5:#8FA69D;
    
}

body {
    display: flex;
    background-color: var(--color-4);
    font-family: 'Dancing Script', cursive;
}
nav{
    text-align: center;
}
nav a{
    text-decoration: none;
    color: var(--color-1);
    font-size: 60px;
}


body h1{
    padding: 20px;
    color:var(--color-2);
    text-align: center;
    font-size:50px;
}


.contenedor-obra{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px 10px;
    padding: 20px;
    color: var(--color-5);
    text-align: justify;
    font-size: 18px;

}

.contenedor-obra img {
    width: 100%;
    height: 100%;
}

footer{
    text-align: center;
    height: 30px;
}

footer p{
    font-size: 8px;
    padding-top: 10px;
    color: var(--color-5);
}

.biografia {
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 20px 20px;
    line-height: 1.5;
    font-size: 16px;
    border-radius: 5px;
    text-align: justify;


}

.biografia img{
    border-radius: 5px;
    float:left;
    margin-right: 15px;
}

.biografia p{
    text-align: justify;
    

}
